<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% if taske %}
    <form action="{% url 'todo:update' taske.id%}" method="post">
    {% csrf_token %}
    Title:
    <br>
    <textarea rows="2" cols="50" name="title">{{taske.title}}</textarea>
    <br>
    <br>
    Description:
    <br>
    <textarea rows="4" cols="50" name="description"> {{taske.description}} </textarea><br>
    <input type="submit" value="Done" />
    </form>
{%else%}
    <h3>Nothing to see here</h3>
{%endif%}
</body>
</html>